fastapi
uvicorn[standard]
python-multipart
pandas
sqlalchemy
mysql-connector-python
python-dotenv
langchain_google_genai
langchain_core
spacy
duckdb
passlib[bcrypt]
python-jose
vertica-sqlalchemy

 
